#menu_top.container
  .navbar.navbar-inverse.navbar-fixed-top{role: 'navigation'}
    .container
      .navbar-header
        %ul.nav.navbar-nav
          %li{onclick: "VoyageX.NavBar.menuNavClick('chat')"}
            %span.navbar-brand{id: 'menu_chat'}
              #{t('menu.meeting').html_safe}
          %li{onclick: "VoyageX.NavBar.menuNavClick('map')"}
            %span.navbar-brand.active{id: 'menu_map'}
              #{t('menu.map').html_safe}
          %li{onclick: "VoyageX.NavBar.menuNavClick('home')"}
            %span.navbar-brand{id: 'menu_home'}
              #{t('menu.home').html_safe}
          %li{style: 'padding: 0px 0px 0px 20px;'}
            %span.whoami{style: 'float :left; color: #ffffff;'}
              - if user_signed_in?
                = link_to t('auth.whoami', username: tmp_user().username), change_username_path, class: 'navbar-inverse navbar-brand', data: { remote: "true", format: :js }
              - else
                %span{class: 'navbar-inverse navbar-brand'}
                  #{t('auth.whoami', username: tmp_user().username).html_safe}
            %span.myfoto{style: 'float :left; z-index:1003;'}
              = image_tag tmp_user().foto.url, class: 'whoami-img', style: 'margin: 3px 0px -10px 0px; max-height: 45px;'
            .logout-link{style: "display: #{user_signed_in? ? 'block' : 'none'}; float: right;"}
              = link_to t('auth.sign_out'), destroy_user_session_path, class: 'navbar-inverse navbar-brand', data: { remote: "true", format: :js, method: :delete }
          %li
            .login-link{style: "display: #{user_signed_in? ? 'none' : 'block'}; float :left;"}
              = link_to t('auth.sign_in'), '#', onclick: 'javascript:$("#sign_in_modal").dialog("open")', class: 'navbar-inverse navbar-brand'
              /%button{onclick: 'javascript:$("#sign_in_modal").dialog("open")'}
              /  #{t('auth.sign_in')}
            .reg-link{style: "display: #{user_signed_in? ? 'none' : 'block'}; float :left;"}
              = link_to t('auth.sign_up'), '#', onclick: 'javascript:$("#sign_up_modal").dialog("open")', class: 'navbar-inverse navbar-brand'
              /%button{onclick: 'javascript:$("#sign_up_modal").dialog("open")'}
              /  #{t('auth.sign_up')}
          %li{style: 'padding: 15px 0px 0px 20px;'}
            - lcls = lang_change_links request, ['c']
            %span{style: 'float:left;'}
              = link_to image_tag("/assets/en.png", style: "border-width:0px;width:10px;height:10px;"), '#', onclick: "javascript:document.location.href=window.clientState.linkForView('#{lcls[0]}', 'en', '#{lcls[1]}');", :style => "color:#00dd;"
            %span
              &nbsp;
              = link_to image_tag("/assets/de.png", style: "border-width:0px;width:10px;height:10px;"), '#', onclick: "javascript:document.location.href=window.clientState.linkForView('#{lcls[0]}', 'de', '#{lcls[1]}');", :style => "color:#00dd;"
          %li{style: 'padding: 0px 0px 0px 0px;'}
            = link_to image_tag('/assets/info.png', style: 'width: 25px;'), '#', onclick: 'javascript:VoyageX.NavBar.menuNavClick("help")'
      .info{style: 'margin: 15px 0px 0px 0px;'}
        #search_radius{style: 'margin: -10px 0px 0px 10px; padding: 0px; float:left; color: white;'}
          %div{style: 'float:left; font-size: 9px; padding-top: 5px;'}
            radius:
          %div{style: 'float: right; padding-left: 5px;'}
            %div{style: 'height: 15px; font-size: 9px;'}
              = radio_button_tag 'search_radius_display', 'show', false, onclick: 'toggleSearchRadiusDisplay(this)'
              = label_tag 'search_radius_display_show', 'on'
            %div{style: 'height: 15px; font-size: 9px;'}
              = radio_button_tag 'search_radius_display', 'hide', true, onclick: 'toggleSearchRadiusDisplay(this)'
              = label_tag 'search_radius_display_hide', 'off'
        #cache_info{style: 'float: left; margin: -8px 0px 0px 20px; font-size: 11px; padding: 0px; color: #ffffff;'}
          %div
            [
            = link_to 'tile-info', '#', onclick: "javascript:VoyageX.Main.mapControl().showTileInfo();", :style => "color:#00dd;"
            ]
          %div
            %span#zoom_level
            %span#cache_stats{style: 'margin-left: 10px;'}
        %span#cache_ctrls{style: 'margin-left: 10px;'}
          %button{id: 'clear_cache'}
            Clear Cache
        #network_state_view{style: 'float:right; color: white; margin-top: -10px; padding: 0px;'}
          %div{style: 'height: 15px; font-size: 9px;'}
            = radio_button_tag 'network_state', 'online', true, onclick: 'toggleNetworkState(this)'
            = label_tag 'network_state_online', 'online'
          %div{style: 'height: 15px; font-size: 9px;'}
            = radio_button_tag 'network_state', 'offline', false, onclick: 'toggleNetworkState(this)'
            = label_tag 'network_state_offline', 'offline'
