#menu_top.container
  .navbar.navbar-inverse.navbar-fixed-top{role: 'navigation'}
    .container
      .navbar-header
        %ul.nav.navbar-nav
          %li{onclick: "VoyageX.NavBar.menuNavClick('chat')"}
            %span.navbar-brand{id: 'menu_chat'}
              #{t('menu.chat').html_safe}
          %li{onclick: "VoyageX.NavBar.menuNavClick('map')"}
            %span.navbar-brand.active{id: 'menu_map'}
              #{t('menu.map').html_safe}
          %li{onclick: "VoyageX.NavBar.menuNavClick('home')"}
            %span.navbar-brand{id: 'menu_home'}
              #{t('menu.home').html_safe}
          %li{style: 'padding: 0px 0px 0px 20px;'}
            %span.whoami{style: 'float :left; color: #ffffff;'}
              - if user_signed_in?
                = link_to t('auth.whoami', username: tmp_user().username), change_username_path, class: 'navbar-inverse navbar-brand', data: { remote: "true", format: :js }
              - else
                %span{class: 'navbar-inverse navbar-brand'}
                  #{t('auth.whoami', username: tmp_user().username).html_safe}
            .logout-link{style: "display: #{user_signed_in? ? 'block' : 'none'}; float: right;"}
              = link_to t('auth.sign_out'), destroy_user_session_path, class: 'navbar-inverse navbar-brand', data: { remote: "true", format: :js, method: :delete }
          %li
            .login-link{style: "display: #{user_signed_in? ? 'none' : 'block'}; float :left;"}
              = link_to t('auth.sign_in'), '#', onclick: 'javascript:$("#sign_in_modal").dialog("open")', class: 'navbar-inverse navbar-brand'
              /%button{onclick: 'javascript:$("#sign_in_modal").dialog("open")'}
              /  #{t('auth.sign_in')}
            .reg-link{style: "display: #{user_signed_in? ? 'none' : 'block'}; float :left;"}
              = link_to t('auth.sign_up'), '#', onclick: 'javascript:$("#sign_up_modal").dialog("open")', class: 'navbar-inverse navbar-brand'
              /%button{onclick: 'javascript:$("#sign_up_modal").dialog("open")'}
              /  #{t('auth.sign_up')}
          %li{style: 'padding: 15px 0px 0px 20px;'}
            - lcls = lang_change_links request, ['c']
            %span{style: 'float:left;'}
              = link_to image_tag("/assets/en.png", style: "border-width:0px;width:10px;height:10px;"), '#', onclick: "javascript:document.location.href=window.clientState.linkForView('#{lcls[0]}', 'en', '#{lcls[1]}');", :style => "color:#00dd;"
            %span
              &nbsp;
              = link_to image_tag("/assets/de.png", style: "border-width:0px;width:10px;height:10px;"), '#', onclick: "javascript:document.location.href=window.clientState.linkForView('#{lcls[0]}', 'de', '#{lcls[1]}');", :style => "color:#00dd;"
      .info{style: 'margin: 15px 0px 0px 0px;'}
        %span#zoom_level{style: 'margin-left: 40px;'}
        %span#cache_stats{style: 'margin-left: 20px;'}
        %span#cache_ctrls{style: 'margin-left: 20px;'}
          %button{id: 'clear_cache'}
            Clear Cache
        #network_state{style: 'float:right;'}
          = radio_button_tag 'network_state', 'online', true, onclick: 'toggleNetworkState(this)'
          = label_tag 'network_state_online', 'online'
          = radio_button_tag 'network_state', 'offline', false, onclick: 'toggleNetworkState(this)'
          = label_tag 'network_state_offline', 'offline'
