#comm_peer_data{style: 'padding: 20px 0px 30px 0px;'}
  / TODO
  .field{style: 'display: none;'}
    %input{type: 'checkbox', name: 'peer_channel', value: 'talk', checked: true}
      Chat
    %input{type: 'checkbox', name: 'peer_channel', value: 'map_events'}
      Map
    %input{type: 'checkbox', name: 'peer_channel', value: 'uploads'}
      Uploads
    %input{type: 'checkbox', name: 'peer_channel', value: 'all'}
      All
  %table{width: '100%', border: 0, cellspacing: 0, cellpadding: 0}
    - # peers followed by user and granted
    %tr
      %th{colspan: 4}
        #{t('admin.i_follow')}
    %tbody#i_follow
      - user.follows.each do |cs|
        - # on updates subscription is handled in controller
        - if @initial_subscribe == true
          %script
            = render(partial: '/shared/subscriptions', formats: [:js], locals: { channel_enc_key: cs.channel_enc_key }).html_safe
        %tr{id: "i_follow_#{cs.id}"}
          %td{width: 5}
            &nbsp;
          %td
            #{cs.user.username}
          %td{width: 15}
            &nbsp;
          %td
            = hidden_field_tag "follow[comm_peer_settings][#{cs.id.to_s}]", false
            = check_box_tag "follow[comm_peer_settings][#{cs.id.to_s}]", true, :checked
    - # peers followed by user and not granted
    %tr
      %th{colspan: 4}
        #{t('admin.i_want_to_follow')}
    %tbody#i_want_to_follow
      - user.requested_grant_to_follow.each do |cs|
        %tr{id: "i_want_to_follow_#{cs.id}"}
          %td{width: 5}
            &nbsp;
          %td
            #{cs.user.username}
          %td{width: 15}
            &nbsp;
          %td
            = hidden_field_tag "follow[comm_peer_settings][#{cs.id.to_s}]", false
            = check_box_tag "follow[comm_peer_settings][#{cs.id.to_s}]", true, :checked
    - # peers not followed by user   / and comm_peers.id is null
    %tr
      %th{colspan: 4}
        #{t('admin.i_dont_follow')}
    %tbody#i_dont_follow
      - CommSetting.joins(:user).joins('left outer join comm_peers on comm_settings.id = comm_peers.comm_setting_id').where('comm_settings.user_id != ? and (comm_peers.peer_id is null or comm_peers.peer_id != ?)', user.id, user.id).order('users.username').each do |cs|
        %tr{id: "i_dont_follow_#{cs.id}"}
          %td{width: 5}
            &nbsp;
          %td
            #{cs.user.username}
          %td{width: 15}
            &nbsp;
          %td
            = hidden_field_tag "follow[comm_peer_settings][#{cs.id.to_s}]", false
            = check_box_tag "follow[comm_peer_settings][#{cs.id.to_s}]", true, false, style: 'float: left;'
            %span
              #{t('admin.check_to_follow')}
    %tr
      %th{colspan: 4}
        <hr />
    - # peers that follow user
    %tr
      %th{colspan: 4}
        #{t('admin.follow_me')}
    %tbody#follow_me
      - user.comm_setting.followers.order(:username).each do |u|
        %tr{id: "follow_me_#{u.id}"}
          %td{width: 5}
            &nbsp;
          %td
            #{u.username}
          %td{width: 15}
            &nbsp;
          %td
            = hidden_field_tag "grant[comm_peers][#{u.id.to_s}]", false
            = check_box_tag "grant[comm_peers][#{u.id.to_s}]", true, :checked
    - # peers that requested grant to follow user
    %tr
      %th{colspan: 4}
        #{t('admin.want_to_follow_me')}
    %tbody#want_to_follow_me
      - user.comm_setting.follow_grant_requests.order(:username).each do |u|
        %tr{id: "want_to_follow_me_#{u.id}"}
          %td{width: 5}
            &nbsp;
          %td
            #{u.username}
          %td{width: 15}
            &nbsp;
          %td
            %span{style: 'float: left;'}
              = hidden_field_tag "grant[comm_peers][#{u.id.to_s}]", false
              = check_box_tag "grant[comm_peers][#{u.id.to_s}]", true
              grant
            %span{style: 'margin-left: 15px;'}
              = hidden_field_tag "deny[comm_peers][#{u.id.to_s}]", false
              = check_box_tag "deny[comm_peers][#{u.id.to_s}]", true
              reject
