/ TODO
.field{style: 'display: none;'}
  %input{type: 'checkbox', name: 'peer_channel', value: 'talk', checked: true}
    Chat
  %input{type: 'checkbox', name: 'peer_channel', value: 'map_events'}
    Map
  %input{type: 'checkbox', name: 'peer_channel', value: 'uploads'}
    Uploads
  %input{type: 'checkbox', name: 'peer_channel', value: 'all'}
    All
%table{width: '100%', border: 0, cellspacing: 0, cellpadding: 0}
  - # peers followed by user and granted
  %tr
    %th{colspan: 6}
      #{t('admin.i_follow')}
  %tbody#i_follow
    - user.follows.each do |c_p|
      - # on updates subscription is handled in controller
      - if @initial_subscribe == true
        %script
          = render(partial: '/shared/subscriptions', formats: [:js], locals: { channel_enc_key: c_p.channel_enc_key }).html_safe
          -#APP.storage().saveUser({id: #{c_p.user.id}, username: '#{c_p.user.username}', peerPort: {id: #{c_p.id}, channel_enc_key: '#{c_p.channel_enc_key}'}});
          window.initArgs.peers.push(#{peer_json(c_p)});
      %tr{id: "i_follow_#{c_p.id}", data: {channelEncKey: c_p.channel_enc_key}}
        %td{width: 5}
          &nbsp;
        %td
          = image_tag c_p.user.foto.url, style: 'max-width: 35px !important;'
        %td{width: 15}
          &nbsp;
        %td
          -#%span{style: 'float: left;'}
          #{c_p.user.username}
          -#%span{style: 'padding-left: 10px;'}
          -#  = link_to 'reset connection', '#', onclick: "javascript:APP.resetConnection(#{c_p.id});"
        %td{width: 15}
          &nbsp;
        %td
          = hidden_field_tag "follow[comm_peer_ports][#{c_p.id.to_s}]", false, id: "i_follow_#{c_p.id.to_s}.h"
          = check_box_tag "follow[comm_peer_ports][#{c_p.id.to_s}]", true, :checked, id: "i_follow_#{c_p.id.to_s}"
          = label_tag "i_follow_#{c_p.id.to_s}", ''
  - # peers followed by user and not granted
  %tr
    %th{colspan: 6}
      #{t('admin.i_want_to_follow')}
  %tbody#i_want_to_follow
    - user.requested_grant_to_follow.each do |c_p|
      %tr{id: "i_want_to_follow_#{c_p.id}"}
        %td{width: 5}
          &nbsp;
        %td
          = image_tag c_p.user.foto.url, style: 'max-width: 35px !important;'
        %td{width: 15}
          &nbsp;
        %td
          #{c_p.user.username}
        %td{width: 15}
          &nbsp;
        %td
          = hidden_field_tag "follow[comm_peer_ports][#{c_p.id.to_s}]", false, id: "i_want_to_follow_#{c_p.id.to_s}.h"
          = check_box_tag "follow[comm_peer_ports][#{c_p.id.to_s}]", true, :checked, id: "i_want_to_follow_#{c_p.id.to_s}"
          = label_tag "i_want_to_follow_#{c_p.id.to_s}", ''
  - # peers not followed by user   / and comm_peers.id is null
  %tr
    %th{colspan: 6}
      #{t('admin.i_dont_follow')}
  %tbody#i_dont_follow
    /- CommPort.joins(:user).joins('left outer join comm_peers on comm_ports.id = comm_peers.comm_port_id').where('comm_ports.user_id != ? and (comm_peers.peer_id is null or comm_peers.peer_id != ?) and current_sign_in_at is not null', user.id, user.id).order('users.username').each do |c_p|
    - User.joins(:comm_port).where('`users`.id != ? and `users`.current_sign_in_at is not null and `comm_ports`.id not in (select `comm_peers`.comm_port_id from `comm_peers` where `comm_peers`.peer_id = ?)', user.id, user.id).order('`users`.username').each do |u|
      %tr{id: "i_dont_follow_#{u.comm_port.id}"}
        %td{width: 5}
          &nbsp;
        %td
          = image_tag u.foto.url, style: 'max-width: 35px !important;'
        %td{width: 15}
          &nbsp;
        %td
          #{u.username}
        %td{width: 15}
          &nbsp;
        %td
          = hidden_field_tag "follow[comm_peer_ports][#{u.comm_port.id.to_s}]", false, id: "i_dont_follow_#{u.comm_port.id.to_s}.h"
          = check_box_tag "follow[comm_peer_ports][#{u.comm_port.id.to_s}]", true, false, id: "i_dont_follow_#{u.comm_port.id.to_s}", style: 'float: left;'
          = label_tag "i_dont_follow_#{u.comm_port.id.to_s}", t('admin.check_to_follow')
  %tr
    %th{colspan: 6}
      <hr />
  - # peers that follow user
  %tr
    %th{colspan: 6}
      #{t('admin.follow_me')}
  %tbody#follow_me
    - if user.comm_port.present?
      - user.comm_port.followers.order(:username).each do |u|
        - if @initial_subscribe == true
          %script
            window.initArgs.peers.push(#{peer_json(u.comm_port)});
        %tr{id: "follow_me_#{u.id}"}
          %td{width: 5}
            &nbsp;
          %td
            = image_tag u.foto.url, style: 'max-width: 35px !important;'
          %td{width: 15}
            &nbsp;
          %td
            #{u.username}
          %td{width: 15}
            &nbsp;
          %td
            = hidden_field_tag "grant[comm_peers][#{u.id.to_s}]", false, id: "follow_me_#{u.id.to_s}.h"
            = check_box_tag "grant[comm_peers][#{u.id.to_s}]", true, :checked, id: "follow_me_#{u.id.to_s}"
            = label_tag "follow_me_#{u.id.to_s}", ''
  - # peers that requested grant to follow user
  %tr
    %th{colspan: 6}
      #{t('admin.want_to_follow_me')}
  %tbody#want_to_follow_me
    - if user.comm_port.present?
      - user.comm_port.follow_grant_requests.order(:username).each do |u|
        %tr{id: "want_to_follow_me_#{u.id}"}
          %td{width: 5}
            &nbsp;
          %td
            = image_tag u.foto.url, style: 'max-width: 35px !important;'
          %td{width: 15}
            &nbsp;
          %td
            #{u.username}
          %td{width: 15}
            &nbsp;
          %td
            %div{style: 'float: left;'}
              = hidden_field_tag "grant[comm_peers][#{u.id.to_s}]", false, id: "grant_comm_peers_#{u.id.to_s}.h"
              = check_box_tag "grant[comm_peers][#{u.id.to_s}]", true
              = label_tag "grant_comm_peers_#{u.id.to_s}", 'grant'
            %div{style: 'margin-left: 15px;'}
              = hidden_field_tag "deny[comm_peers][#{u.id.to_s}]", false, id: "deny_comm_peers_#{u.id.to_s}.h"
              = check_box_tag "deny[comm_peers][#{u.id.to_s}]", true
              = label_tag "deny_comm_peers_#{u.id.to_s}", 'reject'
