#tmpl_poi_notes_container{style: 'display: none;'}
  %div{tmpl: {id: 'poi_notes_container'}, data: {poiId: '{poi_id}'}}
    {poi_notes}
    .poi_controls
      - if is_mobile
        %span
          /- popup_params = { data: { rel: 'popup', 'position-to' => 'window', 'data-role' => 'button' } }
          /= link_to t('uploads.add_comment'), '#upload_comment_conrols', popup_params
          = link_to t('uploads.add_comment'), '#', onclick: 'javascript:openUploadCommentControls({poi_id})'
        %span{style: 'float: right;'}
          = link_to t('pois.bookmark'), '#', onclick: 'javascript:APP.bookmarkLocation({poi_id})'
      - else
        %div{style: 'float: left; margin: 0px 0px 0px 5px;'}
          = link_to image_tag('/assets/add-comment.png', style: 'height: 25px;', title: t('uploads.add_comment'), alt: t('uploads.add_comment')), '#', onclick: 'javascript:openUploadCommentControls({poi_id})'
        %div{style: 'float: left; margin: 0px 0px 0px 5px; padding: 0px;'}
          = link_to image_tag('/assets/add-bookmark.png', style: 'height: 25px;', title: t('pois.bookmark'), alt: t('pois.bookmark')), '#', onclick: "javascript:APP.bookmarkLocation({poi_id})"
        %div{style: 'float: left; margin: 0px 0px 0px 5px; padding: 0px;'}
          = link_to image_tag('/assets/edit-note.png', style: 'height: 25px;', title: t('locations.view_note'), alt: t('locations.view_note')), '#', onclick: "javascript:APP.view().viewBookmarkNote(APP.storage().getLocation({location_id}))"

#tmpl_poi_note{style: 'display: none;'}
  .triangle-border.upload_comment{class: '{toggle}', tmpl: {toggle: 'left|right'}, style: 'vertical-align: top;', data: {id: '{poi_note_id}', index: '{i}'}}
    %table
      %tr
        %td
          %div{style: 'float: left; padding: 0px 10px 0px 0px;'}
            %a{href: '#', onclick: 'javascript:APP.view().viewAttachment({poi_note_id});'}><
              {media_file_tag}
          %div{style: 'float: left !important; text-decoration: underline; font-weight: bold; padding-right: 10px;'}><
            {username}:
          {comment}
