.upload_comment_container
  %table
    = render partial: '/shared/upload_comment', locals: { comment: @upload.attached_to, i: 0 }
    - @upload.attached_to.comments.each_with_index do |poi_note, i|
      = render partial: '/shared/upload_comment', locals: { comment: poi_note, i: (i+1) }

- bid = "upload_comment_btn_#{@upload.id}"
- if is_mobile
  /- popup_params = { data: { rel: 'popup', 'position-to' => 'window', 'data-role' => 'button' } }
  /= link_to t('uploads.add_comment'), '#upload_comment_conrols', popup_params
  = link_to t('uploads.add_comment'), '#', onclick: 'javascript:$("#open_upload_comment_btn").click()'
- else
  .ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only{id: bid}
    .ui-button-text
      #{t('uploads.add_comment')}
