:javascript
  var photoWidth = Math.round($(window).width() * 0.75);
  var photoHeight = Math.round($(window).height() * 0.75);
  $("head").append("<style type='text/css'>#media_input_capture, #media_input_current {width:"+photoWidth+"px;height:"+photoHeight+"px;}</style>");
.container{style: 'margin-top: 20px;'}
  .container#content_uploads
    .upload_source_select{data: {role: 'controlgroup', type: 'horizontal'}}
      %button{value: 'camera',onclick: 'toggleUploadType(this)', class: 'ui-btn ui-corner-all'}
        #{t('uploads.select_camera').html_safe}
      %button{value: 'file', onclick: 'toggleUploadType(this)', class: 'ui-btn ui-corner-all'}
        #{t('uploads.select_file').html_safe}
      /= link_to t('uploads.select_camera'), '#', class: 'ui-btn ui-corner-all', id: 'media_input_panel_show'
      /= link_to t('uploads.select_file'), '#', class: 'ui-btn ui-corner-all', id: 'media_input_panel_show'
    .container.messages
      #upload_error
      #upload_message
      #upload_progress
    .upload_data_container#upload_cam_container{style: 'width: 100%;'}
      %span{style: 'float: left;'}
        %button{id: 'media_input_init'}
          #{t('uploads.start_camera')}
        = link_to '', '#media_input_panel', id: 'media_input_panel_show'
      /%span.btn{id: 'switch_camera'}
      /  %img{src: '/assets/switch-camera.png', style: 'margin: 12px 0px 0px 20px;'}
      #upload_form_ui
        #media_input_container{style: 'display: none; text-align: center;'}
          /%video{id: 'media_input_capture', style: 'width: 307px; height: 250px;', autoplay: true}
          %img{id: 'media_input_current', src: ''}
          /%canvas{id: 'media_input_display', style: 'display: none;'}
          %br
          /.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only{id: 'media_input_capture_btn'}
          /  .ui-button-text
          /    #{t('uploads.take_shot').html_safe}
          /.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only{id: 'media_input_stop_btn'}
          /  .ui-button-text
          /    Stop
          .field
            %span{style: 'float: left;'}
              #{t('uploads.add_comment')}
            = text_area_tag 'upload_comment[text]', '', id: 'upload_comment'
          .ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only{id: 'media_input_upload_btn'}
            .ui-button-text
              #{t('uploads.upload_photo').html_safe}
    .upload_data_container#upload_file_container
      = form_for resource, remote: true, method: :put, :html => { class: nil, :multipart => true, :id => "upload_form", target: "upload_target" } do |f|
        #upload_file_controls{style: 'float: left; display: none;'}
          %span{style: 'float: left;'}
            = f.file_field 'file', id: 'fileupload'
          %button.show-page-loading-msg{id: "upload_button", data: {type: 'json', theme: 'a', textonly: 'false', textvisible: 'true', msgtext: 'Loading'}}
            Upload
          .field
            %span{style: 'float: left;'}
              #{t('uploads.add_comment')}
            = text_area_tag 'upload_comment[text]', '', id: 'upload_comment'
        = hidden_field_tag 'location[latitude]'
        = hidden_field_tag 'location[longitude]'
        = hidden_field_tag 'user[id]'
-# 
  .container
    %span#current_address
    - max_height = 100.0
    %h2{style: 'float:left;'}
      &lt;
    .swiper-container{style: 'float:left;'}
      .swiper-wrapper#upload_preview
        - scroll_width = 0
        - max_width = 0
        - Upload.all.order('location_id, id desc').each do |upload|
          - geometry = Paperclip::Geometry.from_file(upload.file)
          - scale = max_height.to_f / geometry.height
          - width = (geometry.width * scale + 0.49).round
          - max_width = width if width > max_width
          - height = (geometry.height* scale + 0.49).round
          - scroll_width += width
          /%span.swiper-slide{onclick: "panPosition(#{upload.location.latitude},#{upload.location.longitude},'#{escape_javascript(upload.location.address)}')"}
          %span.swiper-slide{onclick: "panUpload(#{upload.id})"}
            = image_tag upload.file.url, style: "width:#{width}px;height:#{max_height.to_i}px;"
        /- if is_mobile
        /  - max_width = '"+$(window).width()+"'
        /- else
        /  - max_width = '"+($(window).width() - 13)+"'
        - swiper_style = "width: #{max_width}px; height: #{max_height.to_i}px;"
        %script
          $("head").append("<style type='text/css'>.swiper-container, .swiper-slide { #{swiper_style} }</style>");
    %h2
      &gt;

#upload_comment_conrols{data: {role: 'popup', 'overlay-theme' => 'a', theme: 'a'}}
  %div{data: {role: 'header'}}
    %h4.ui-title #{t('uploads.add_comment')}
  %div{role: 'main'}
    = text_area_tag 'upload_comment[text]', '', id: 'add_upload_comment_text'
    = hidden_field_tag 'upload[id]', '', id: 'add_upload_comment_upload_id'
    .ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only{id: 'add_upload_comment_btn'}
      .ui-button-text
        #{t('uploads.add_comment_submit')}
    %a{ id: 'upload_comment_cancel', :href => "#", :class => "btn btn-sm", data: { role: 'button', rel: 'back' } } #{t('cancel')}
      
%iframe{id: "upload_target", name: "upload_target", style: "display:none;"}


