#content_uploads
  %input{type: 'radio', name: 'upload_type', value: 'camera', checked: true, onclick: 'toggleUploadType(this)'}
    #{t('uploads.select_camera').html_safe} 
  %input{type: 'radio', name: 'upload_type', value: 'file', onclick: 'toggleUploadType(this)'}
    #{t('uploads.select_file').html_safe}
  .messages
    #upload_error
    #upload_message
    #upload_progress
  #upload_form_ui
    .field
      %span{style: 'float: left; padding-right: 20px;'}
        #{t('uploads.comment')}
      = text_area_tag 'upload_comment_text', '', id: 'upload_comment'
    .upload_data_container#upload_cam_container
      = render partial: '/uploads/form/camera_data', locals: {resource: resource}
    .upload_data_container#upload_file_container
      = form_for resource, remote: true, :html => { class: nil, :multipart => true, :id => "upload_form", target: "upload_target" } do |f|
        = render partial: '/uploads/form/file_data', locals: {resource: resource, f: f}
        = hidden_field_tag 'location[latitude]'
        = hidden_field_tag 'location[longitude]'

