#tmpl_poi_note_input{style: 'display: none;'}
  /%fieldset.upload_source_select{data: {role: 'controlgroup', type: 'horizontal'}}
  /  %input{type: 'radio', tmpl: {id: 'data_upload_type_camera', ref: :name}, name: '_upload_type', value: 'camera', checked: true, onclick: 'toggleUploadType(this)'}
  /  %label{'for' => '_data_upload_type_camera'.html_safe, tmpl: {ref: :for}} #{t('uploads.select_camera').html_safe}
  /  %input{type: 'radio', tmpl: {id: 'data_upload_type_file', ref: :name}, name: '_upload_type', value: 'file', onclick: 'toggleUploadType(this)'}
  /  %label{'for' => '_data_upload_type_file'.html_safe, tmpl: {ref: :for}} #{t('uploads.select_file').html_safe}
  .messages
    %div{tmpl: {id: :upload_error}}
    %div{tmpl: {id: :upload_message}}
    %div{tmpl: {id: :upload_progress}}
  .field
    %span{style: 'float: left; padding-right: 20px;'}
      #{t('uploads.comment')}
    = text_area_tag 'upload_comment[text]', '', id: ':remove', 'tmpl-id' => 'upload_comment'
  .upload_data_container{style: 'width: 100%;', tmpl: {id: :upload_cam_container}}
    /= render partial: '/uploads/form/camera_data.mobile', locals: {poi_note: poi_note}
    = render partial: '/uploads/form/tmpl_camera_data.mobile', locals: {poi_note: poi_note}
  .upload_data_container{tmpl: {id: :upload_file_container}}
    %script
      var updateActionPathTmpl = '#{upload_path(id: ':comments_on_id')}';
    = form_for poi_note, remote: true, :html => { class: nil, multipart: true, 'tmpl-id' => 'upload_form', target: 'upload_target', 'data-poiId' => ':poi_id', 'data-commentsOnId' => ':comments_on_id' } do |f|
      = render partial: '/uploads/form/tmpl_file_data', locals: {poi_note: poi_note, f: f}
      = hidden_field_tag 'location[latitude]', '', id: ':remove', 'tmpl-id' => 'location_latitude'
      = hidden_field_tag 'location[longitude]', '', id: ':remove', 'tmpl-id' => 'location_longitude'
  .upload_data_container{tmpl: {id: :upload_embed}}
