- if is_mobile
  %h4
    People of Interest
Benutzer denen ich folge oder folgen will ...
%br
%h4{colspan: 4}
  #{t('admin.i_follow')}
%table
  - user.follows.each do |cs|
    - last_location = cs.user.last_location
    %tr
      %td
        #{cs.user.username}
      %td{width: 15}
        &nbsp;
      %td
        -#= link_to shorten_address(last_location), location_path(location_id: last_location.id), data: { remote: 'true', format: :js }
        = link_to shorten_address(last_location), '#', onclick: "javascript:APP.loadLocation(#{last_location.id});"

%h4{colspan: 4}
  #{t('admin.i_want_to_follow')}
%table
  - user.requested_grant_to_follow.each do |cs|
    %tr
      %td
        #{cs.user.username}
      %td{width: 15}
        &nbsp;
