Benutzer denen ich folge oder folgen will ...
%br
%h4{colspan: 4}
  #{t('admin.i_follow')}
%table
  - tmp_user.follows.each do |cs|
    - last_location = cs.user.last_location
    %tr
      %td
        #{cs.user.username}
      %td{width: 15}
        &nbsp;
      %td
        = link_to shorten_address(last_location.address), location_path(location_id: last_location.id), data: { remote: 'true', format: :js }

%h4{colspan: 4}
  #{t('admin.i_want_to_follow')}
%table
  - tmp_user.requested_grant_to_follow.each do |cs|
    %tr
      %td
        #{cs.user.username}
      %td{width: 15}
        &nbsp;
