- if is_mobile
  %h4
    People of Interest
Benutzer denen ich folge oder folgen will ...
%br
%h4{colspan: 4}
  #{t('admin.i_follow')}
%table
  - user.follows.each do |cs|
    - last_location = cs.user.snapshot.location.present? ? cs.user.snapshot.location : Location.new(latitude: cs.user.snapshot.lat, longitude: cs.user.snapshot.lng)
    %tr{data: {userId: cs.user.id}}
      %td
        #{cs.user.username}
      %td{width: 15}
        &nbsp;
      %td
        -#= link_to shorten_address(cs.user.snapshot.location), location_path(location_id: cs.user.snapshot.location.id), data: { remote: 'true', format: :js }
        = link_to shorten_address(last_location, true), '#', onclick: "javascript:APP.loadLocation({locationId: #{last_location.present? ? last_location.id : 'null'}, lat: #{cs.user.snapshot.lat||'null'}, lng: #{cs.user.snapshot.lng||'null'}, address: #{cs.user.snapshot.address.present? ? "'#{cs.user.snapshot.address}'" : 'null'}});".html_safe

%h4{colspan: 4}
  #{t('admin.i_want_to_follow')}
%table
  - user.requested_grant_to_follow.each do |cs|
    %tr{data: {userId: cs.user.id}}
      %td
        #{cs.user.username}
      %td{width: 15}
        &nbsp;
