.modal
  .modal-dialog#photo_nav_panel
    .modal-body
      %span#current_address
        - if @uploads.present?
          #{@uploads.first.poi_note.poi.location.address}
      #swipe_panel{style: 'text-align: center;'}
        .swiper-container
          .swiper-wrapper#upload_preview
            = render partial: 'swipe_panel'
    
        %img{src: '/assets/swipe.jpg', style: 'width: 35px; height: 35px;'}

  - max_height = 100.0
  - max_width = 300
  - swiper_style = "width: #{max_width}px; height: #{max_height.to_i}px;"
  %script
    $("head").append("<style type='text/css'>#swipe_panel, .swiper-container, .swiper-slide { #{swiper_style} }</style>");


  %br
  %br
  %br
  %br
  .ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only{onclick: '$("#photo_nav_panel").panel("close");'}
    .ui-button-text
      Close Panel
