.modal
  .modal-dialog#photo_nav_panel
    .modal-body
      %ul
        %li
          = link_to 'Points of Interest', '#pois_preview'
        %li
          = link_to 'Bookmarked Locations', '#location_bookmarks'
        %li
          = link_to 'People of Interest', '#people_of_interest'
      #pois_preview
        -#= render partial: 'pois_preview'
      #location_bookmarks
        = render partial: 'location_bookmarks'
      #people_of_interest
        = render partial: 'people_of_interest'

#tmpl_swiper_slide{style: 'display: none;'}
  %span.swiper-slide{data: {poiId: '{poiId}', poiNoteId: '{poiNoteId}', address: '{address}'}, style: 'width: {width}px;'}
    %img{tmpl: {src: '{attachment_url}'}, style: "width: {width}px; height: {height}px;"}

- max_height = 100.0
- max_width = 300
- swiper_style = "width: #{max_width}px; height: #{max_height.to_i}px;"
= javascript_tag do
  $("head").append("<style type='text/css'>.swiper-container { #{swiper_style} }</style>");
