#photo_nav_panel{data: {role: 'panel', dismissible: 'false', animate: 'true', display: 'overlay'}}
  #search_radius{style: 'margin: -10px 0px 0px 10px; padding: 0px;'}
    %div{style: 'float:left; padding-top: 5px;'}
      radius:
    %div{style: 'float: right; padding-left: 5px;'}
      %div{style: 'font-size: 9px; float:left;'}
        = radio_button_tag 'search_radius_display', 'show', false, onclick: 'toggleSearchRadiusDisplay(this)'
        = label_tag 'search_radius_display_show', 'on'
      %div{style: 'font-size: 9px; float:right;'}
        = radio_button_tag 'search_radius_display', 'hide', true, onclick: 'toggleSearchRadiusDisplay(this)'
        = label_tag 'search_radius_display_hide', 'off'
  %span#current_address
  #swipe_panel{style: 'text-align: center;'}
    .swiper-container
      .swiper-wrapper#upload_preview
        = render partial: 'swipe_panel'
    
    %img{src: '/assets/swipe.jpg', style: 'width: 35px; height: 35px;'}

  - max_height = 100.0
  - max_width = 300
  - swiper_style = "width: #{max_width}px; height: #{max_height.to_i}px;"
  %script
    $("head").append("<style type='text/css'>#swipe_panel, .swiper-container, .swiper-slide { #{swiper_style} }</style>");


  %br
  %br
  %br
  %br
  .ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only{onclick: '$("#photo_nav_panel").panel("close");'}
    .ui-button-text
      Close Panel
