- if is_mobile
  #content_home{role: 'main'}
    .upload_source_select{data: {role: 'controlgroup', type: 'horizontal'}}
      %button{value: 'administration',onclick: 'toggleHomeTab(this)', class: 'ui-btn ui-corner-all'}
        Administration
      %button{value: 'upload', onclick: 'toggleHomeTab(this)', class: 'ui-btn ui-corner-all'}
        Upload
      %button{value: 'stats', onclick: 'toggleHomeTab(this)', class: 'ui-btn ui-corner-all'}
        Stats
    .container.messages
      #upload_error
      #upload_message
      #upload_progress
    .container#administration
      %span.whoami{style: 'float :left; padding: 13px 0px 13px 0px;'}
        - if user_signed_in?
          = link_to t('auth.whoami', username: tmp_user().username), change_username_path, data: { remote: "true", format: :js }
        - else
          %span
            #{t('auth.whoami', username: tmp_user().username).html_safe}
      .logout-link{style: "display: #{user_signed_in? ? 'block' : 'none'}; padding: 13px 0px 0px 0px;"}
        = link_to t('auth.sign_out'), destroy_user_session_path, style: 'margin-left: 20px;', data: { remote: "true", format: :js, method: :delete }
      #content_auth{style: 'clear: both;'}
        - popup_params = { data: { rel: 'popup', 'position-to' => 'window', 'data-role' => 'button' } }
        .login-link{style: "display: #{user_signed_in? ? 'none' : 'block'}; float: left;"}
          = link_to t('auth.sign_in'), '#sign_in_modal', popup_params
        .reg-link{style: "display: #{user_signed_in? ? 'none' : 'block'}; margin-left: 20px;"}
          = link_to t('auth.sign_up'), '#sign_up_modal', popup_params.merge(style: 'margin-left: 20px;')
      .container
        = form_for tmp_user, remote: true, method: :patch, :html => { :id => "settings_form" } do |f|
          .user_settings{style: 'padding: 0px 0px 20px 0px;'}
            %span{style: 'float: left; padding: 0px 10px 0px 0px;'}
              Suchradius (meter):
            = f.text_field :search_radius_meters, size: 7, max_length: 7
            .peers
              = render partial: '/shared/peers', locals: {user: tmp_user}
            = f.submit 'Sichern', :class => "btn btn-sm"
    = render partial: '/shared/uploads.mobile', locals: {resource: Upload.new, resource_name: :upload}
    = render partial: '/sandbox/stats.mobile'
- else
  #content_home
    = render partial: '/shared/uploads', locals: {resource: Upload.new, resource_name: :upload}

%table#follow_templates{style: 'display: none;'}
  %tbody#i_follow_template
    %tr{id: "i_follow_{id}"}
      %td{width: 5}
        &nbsp;
      %td
        {username}
      %td{width: 15}
        &nbsp;
      %td
        = hidden_field_tag "follow[comm_peer_settings][{id}]", false
        = check_box_tag "follow[comm_peer_settings][{id}]", true, :checked
  %tbody#i_dont_follow_template
    %tr{id: "i_dont_follow_{id}"}
      %td{width: 5}
        &nbsp;
      %td
        {username}
      %td{width: 15}
        &nbsp;
      %td
        = hidden_field_tag "follow[comm_peer_settings][{id}]", false
        = check_box_tag "follow[comm_peer_settings][{id}]", true, false, style: 'float: left;'
        %span
          #{t('admin.check_to_follow')}
  %tbody#want_to_follow_me_template
    %tr{id: "want_to_follow_me_{id}"}
      %td{width: 5}
        &nbsp;
      %td
        {username}
      %td{width: 15}
        &nbsp;
      %td
        %span{style: 'float: left;'}
          = hidden_field_tag "grant[comm_peers][{id}]", false
          = check_box_tag "grant[comm_peers][{id}]", true
          grant
        %span{style: 'margin-left: 15px;'}
          = hidden_field_tag "deny[comm_peers][{id}]", false
          = check_box_tag "deny[comm_peers][{id}]", true
          reject

#content_chat.talk_message
  = form_tag '#', method: :post, remote: true

  - if is_mobile
    .talk_message_data
      = text_area_tag :message, '', class: :talk_message_text, maxlength: 1500
  - else
    %table{style: 'width:100%;'}
      %tr
        %td{valign: 'top', style: 'width:50px;'}
          .talk_message_label
            Chat:
        %td
          .talk_message_data
            = text_area_tag :message, '', class: :talk_message_text, maxlength: 1500

#content_map
  -#
    = map(:center => { latlng: [51.3767, 7.49389],
        zoom: 16 },
        tile_layer: "http://{s}.tiles.mapbox.com/v4/stephankoeller.k5hhdli3/{z}/{x}/{y}.png?access_token=pk.eyJ1Ijoic3RlcGhhbmtvZWxsZXIiLCJhIjoiZEFHdnhwayJ9.AdtZiG5HGi5JAb64G1K-jA",
        subdomains: ['a'],
        access_token: 'pk.eyJ1Ijoic3RlcGhhbmtvZWxsZXIiLCJhIjoiZEFHdnhwayJ9.AdtZiG5HGi5JAb64G1K-jA',
        max_zoom: 30,
        layers: [window.VoyageX.MapControl.tileLayer])
  %canvas{id: 'tile_canvas', style: 'display: none; width: 256px; height: 256px;'}
  #map
  %script
    var view = new VoyageX.View();
    var offlineZooms = [4,8,12,16];
    var zooms = [#{(1..16).collect{|n|",#{n}"}.join.sub(/^,/,'')}];
    var mapOptions = { center: new L.LatLng(#{51.3767}, #{7.49389}),
    zooms: zooms,
    zoom: 16,
    subdomains: ['a'],
    access_token: 'pk.eyJ1Ijoic3RlcGhhbmtvZWxsZXIiLCJhIjoiZEFHdnhwayJ9.AdtZiG5HGi5JAb64G1K-jA',
    max_zoom: 30 }
    /var mapControl = new VoyageX.MapControl(VoyageX.StorageStrategy.instance(), mapOptions, offlineZooms, true) 
    window.APP = new VoyageX.Main($('#current_user_id').val(), VoyageX.StorageStrategy.instance(), view, mapOptions, offlineZooms, true) 
    -#var map = new L.Map('map',
      ).on('zoomend', function(e) {
      zoomEnd(e);
      });
    -#var map = mapControl.map();
      map.on('zoomend', function(e) {
      zoomEnd(e);
      });
      $('#zoom_level').html('<span style="color:white;">zoom: '+map.getZoom()+'</span>')

  -#
    :javascript
      map.on('locationfound', function(e) {
        alert('found location...')
      });
      map.on('locationerror', function(e) {
        alert('geolocation timed out - manual selection required.\nsetting default location...')
      });
