- if is_mobile
  #content_home{role: 'main'}
    = render partial: '/sandbox/home.mobile'
- else
  #content_home
    = render partial: '/users/settings'
    = render partial: '/shared/uploads', locals: {resource: Upload.new, resource_name: :upload}
  
= render partial: '/shared/help'

= render partial: '/users/follow_templates'

= javascript_tag do
  var chatViewHeight = Math.round(($(window).height() - $(".navbar-header").height()) * 0.#{is_mobile ? 7 : 8}) - 10;
  var chatInputHeight = $(window).height() - $(".navbar-header").height() - chatViewHeight;
  $("head").append("<style type='text/css'>.chat_view {width:100%;height:"+chatViewHeight+"px !important;}</style>");
  $("head").append("<style type='text/css'>.chat_input, .chat_input_text {width:100%;height:"+chatInputHeight+"px !important;}</style>");
#content_chat
  .chat_view
  .chat_input
    = form_tag '#', method: :post, remote: true
    = text_area_tag :message, '', class: :chat_input

#content_map
  %canvas{id: 'tile_canvas', style: 'display: none; width: 256px; height: 256px;'}
  %canvas{id: 'attachment_canvas', style: 'display: none;'}
  #map
  = javascript_tag do
    var view = new VoyageX.View();
    var offlineZooms = [4,8,12,16];
    var zooms = [#{(1..16).collect{|n|",#{n}"}.join.sub(/^,/,'')}];
    var mapOptions = { center: new L.LatLng(#{51.3767}, #{7.49389}),
    zooms: zooms,
    zoom: 16,
    subdomains: ['a'],
    access_token: 'pk.eyJ1Ijoic3RlcGhhbmtvZWxsZXIiLCJhIjoiZEFHdnhwayJ9.AdtZiG5HGi5JAb64G1K-jA',
    max_zoom: 30 }
    new VoyageX.Main(VoyageX.StorageStrategy.instance(), view, mapOptions, offlineZooms, true) 

#tmpl_peer_popup{style: 'display: none;'}
  %div{tmpl: {id: 'peer_popup'}}
    peer: 
    %ul
      %li
        private chat
      %li
        notiz
        
#tmpl_marker_controls{style: 'display: none;'}
  %div{tmpl: {id: 'marker_controls'}}
    %div{style: 'width: 150px !important; height: 25px; padding: 0px 0px 5px 0px;'}
      %div{style: 'float: left; margin: 0px 0px 0px 5px;'}
        = link_to image_tag('/assets/add-marker.png', style: 'height: 25px;', title: t('pois.add'), alt: t('pois.add')), '#', onclick: "javascript:APP.poiNoteInput()"
      %div{style: 'float: left; margin: 0px 0px 0px 5px; padding: 0px;'}
        = link_to image_tag('/assets/add-bookmark.png', style: 'height: 25px;', title: t('pois.bookmark'), alt: t('pois.bookmark')), '#', onclick: "javascript:APP.bookmarkLocation()"
      %div{style: 'float: left; margin: 0px 0px 0px 5px; padding: 0px;'}
        = link_to image_tag('/assets/set-home.png', style: 'height: 23px;', title: t('admin.add_homebase'), alt: t('admin.add_homebase')), '#', onclick: "javascript:APP.setHomeBase()"
      %div{style: 'float: left; margin: 0px 5px 0px 5px; padding: 0px;'}
        = link_to image_tag('/assets/home.png', style: 'height: 23px;', title: t('admin.show_homebase'), alt: t('admin.show_homebase')), '#', onclick: "javascript:APP.loadLocation(currentUser.homebaseLocationId)"
      %div{style: 'margin: 0px 0px 0px 5px; padding: 0px;'}
        = link_to image_tag('/assets/arrow-up-right.png', style: 'height: 23px;', title: 'navigator', alt: 'navigator', class: 'photo_nav_open_icon'), '#', onclick: "javascript:APP.photoNav()"

#tmpl_note_editor{style: 'display: none;'}
  .note_editor{tmpl: {id: 'note_editor'}}
    %div
      Add Note
    %div{style: 'padding: 0px 0px 5px 0px;'}
      = text_area_tag :note, '{text}', id: 'note_{locationId}', class: :note_editor
