- if is_mobile
  #content_home
    %h4
      #{t('auth.whoami', username: tmp_user().username)}
    #content_auth
      - popup_params = { data: { rel: 'popup', 'position-to' => 'window', 'data-role' => 'button' } }
      %br
      .logout-link{style: "display: #{user_signed_in? ? 'block' : 'none'};"}
        = link_to t('auth.sign_out'), destroy_user_session_path, class: "btn", data: { remote: "true", format: :js, method: :delete }
      %br
      .login-link{style: "display: #{user_signed_in? ? 'none' : 'block'};"}
        = link_to t('auth.sign_in'), '#sign_in_modal', popup_params
      %br
      .reg-link{style: "display: #{user_signed_in? ? 'none' : 'block'};"}
        = link_to t('auth.sign_up'), '#sign_up_modal', popup_params
    %br
    %br
    = render partial: '/shared/uploads.mobile', locals: {resource: Upload.new, resource_name: :upload}

#content_chat.talk_message
  = form_tag '#', method: :post, remote: true

  - if is_mobile
    .talk_message_data
      = text_area_tag :message, '', class: :talk_message_text, maxlength: 1500
  - else
    %table{style: 'width:100%;'}
      %tr
        %td{valign: 'top', style: 'width:50px;'}
          .talk_message_label
            Chat:
        %td
          .talk_message_data
            = text_area_tag :message, '', class: :talk_message_text, maxlength: 1500

#content_map
  = map(:center => { latlng: [51.3767, 7.49389],
                     zoom: 16 },
        tile_layer: "http://{s}.tiles.mapbox.com/v4/stephankoeller.k5hhdli3/{z}/{x}/{y}.png?access_token=pk.eyJ1Ijoic3RlcGhhbmtvZWxsZXIiLCJhIjoiZEFHdnhwayJ9.AdtZiG5HGi5JAb64G1K-jA",
        subdomains: ['a'],
        access_token: 'pk.eyJ1Ijoic3RlcGhhbmtvZWxsZXIiLCJhIjoiZEFHdnhwayJ9.AdtZiG5HGi5JAb64G1K-jA',
        max_zoom: 30)
