- if is_mobile
  #content_home
    %span.whoami{style: 'float :left; padding: 13px 0px 13px 0px;'}
      - if user_signed_in?
        = link_to t('auth.whoami', username: tmp_user().username), change_username_path, data: { remote: "true", format: :js }
      - else
        %span
          #{t('auth.whoami', username: tmp_user().username).html_safe}
    .logout-link{style: "display: #{user_signed_in? ? 'block' : 'none'}; padding: 13px 0px 0px 0px;"}
      = link_to t('auth.sign_out'), destroy_user_session_path, style: 'margin-left: 20px;', data: { remote: "true", format: :js, method: :delete }
    #content_auth{style: 'clear: both;'}
      - popup_params = { data: { rel: 'popup', 'position-to' => 'window', 'data-role' => 'button' } }
      .login-link{style: "display: #{user_signed_in? ? 'none' : 'block'}; float: left;"}
        = link_to t('auth.sign_in'), '#sign_in_modal', popup_params
      .reg-link{style: "display: #{user_signed_in? ? 'none' : 'block'}; margin-left: 20px;"}
        = link_to t('auth.sign_up'), '#sign_up_modal', popup_params.merge(style: 'margin-left: 20px;')
    = render partial: '/shared/uploads.mobile', locals: {resource: Upload.new, resource_name: :upload}
- else
  #content_home
    = render partial: '/shared/uploads', locals: {resource: Upload.new, resource_name: :upload}

#content_chat.talk_message
  = form_tag '#', method: :post, remote: true

  - if is_mobile
    .talk_message_data
      = text_area_tag :message, '', class: :talk_message_text, maxlength: 1500
  - else
    %table{style: 'width:100%;'}
      %tr
        %td{valign: 'top', style: 'width:50px;'}
          .talk_message_label
            Chat:
        %td
          .talk_message_data
            = text_area_tag :message, '', class: :talk_message_text, maxlength: 1500

#content_map
  -#
    = map(:center => { latlng: [51.3767, 7.49389],
        zoom: 16 },
        tile_layer: "http://{s}.tiles.mapbox.com/v4/stephankoeller.k5hhdli3/{z}/{x}/{y}.png?access_token=pk.eyJ1Ijoic3RlcGhhbmtvZWxsZXIiLCJhIjoiZEFHdnhwayJ9.AdtZiG5HGi5JAb64G1K-jA",
        subdomains: ['a'],
        access_token: 'pk.eyJ1Ijoic3RlcGhhbmtvZWxsZXIiLCJhIjoiZEFHdnhwayJ9.AdtZiG5HGi5JAb64G1K-jA',
        max_zoom: 30,
        layers: [window.VoyageX.MapControl.tileLayer])
  %canvas{id: 'tile_canvas', style: 'display: none; width: 256px; height: 256px;'}
  #map
  %script
    //var zooms = [4,8,12,16];
    var zooms = [#{(1..16).collect{|n|",#{n}"}.join.sub(/^,/,'')}];
    var mapControl = new VoyageX.MapControl(VoyageX.StorageStrategy.instance()) 
    var map = new L.Map('map',
    { center: new L.LatLng(#{51.3767}, #{7.49389}),
    zooms: zooms,
    zoom: 16,
    subdomains: ['a'],
    access_token: 'pk.eyJ1Ijoic3RlcGhhbmtvZWxsZXIiLCJhIjoiZEFHdnhwayJ9.AdtZiG5HGi5JAb64G1K-jA',
    max_zoom: 30,
    layers: [mapControl.tileLayer()] }
    ).on('zoomend', function(e) {
    zoomEnd(e);
    });

  -#
    :javascript
      map.on('locationfound', function(e) {
        alert('found location...')
      });
      map.on('locationerror', function(e) {
        alert('geolocation timed out - manual selection required.\nsetting default location...')
      });
