#content_im.talk_message
  = form_tag '#', method: :post, remote: true
  = hidden_field_tag :client_id, ((0..6).map { (('a'..'z').to_a+(0..9).to_a)[rand(36)] }.join)

  - if is_mobile
    .talk_message_data
      = text_area_tag :message, '', class: :talk_message_text, maxlength: 1500
  - else
    %table{style: 'width:100%;'}
      %tr
        %td{valign: 'top', style: 'width:50px;'}
          .talk_message_label
            Chat:
        %td
          .talk_message_data
            = text_area_tag :message, '', class: :talk_message_text, maxlength: 1500

#content_map
  = map(:center => { latlng: [48.3633, 10.4677],
                     zoom: 15 },
        tile_layer: "http://{s}.tiles.mapbox.com/v4/stephankoeller.k5hhdli3/{z}/{x}/{y}.png?access_token=pk.eyJ1Ijoic3RlcGhhbmtvZWxsZXIiLCJhIjoiZEFHdnhwayJ9.AdtZiG5HGi5JAb64G1K-jA",
        subdomains: ['a'],
        access_token: 'pk.eyJ1Ijoic3RlcGhhbmtvZWxsZXIiLCJhIjoiZEFHdnhwayJ9.AdtZiG5HGi5JAb64G1K-jA',
        max_zoom: 30)

#content_upload{style: 'display:none;'}
  .logout-link{style: "display: #{user_signed_in? ? 'block' : 'none'};"}
    = link_to 'sign out', destroy_user_session_path, class: "btn", data: { remote: "true", format: :js, method: :delete }
  .login-link{style: "display: #{user_signed_in? ? 'none' : 'block'};"}
    = link_to 'sign in', new_user_session_path, class: "btn", data: { remote: "true", format: :js }
  .reg-link{style: "display: #{user_signed_in? ? 'none' : 'block'};"}
    = link_to 'registrieren', new_user_registration_path, class: "btn", data: { remote: "true", format: :js }
  = file_field_tag 'snapshot', id: "fileupload",
                               'data-url' => "/path/to/upload/handler.json",
                               'data-form-data' => "{'script': 'true'}"
