- lat = tmp_user.snapshot.location.present? ? tmp_user.snapshot.location.latitude : tmp_user.snapshot.lat
- lng = tmp_user.snapshot.location.present? ? tmp_user.snapshot.location.longitude : tmp_user.snapshot.lng
= javascript_tag do
  -#window.scrollTo(0,1);
  window.DEBUG = false;
  window.Comm = { StorageController: {} };
  window.VoyageX = { NavBar: {}, StorageStrategy: {}, MapControl: {}, MarkerManager: {}, MediaManager: {}, View: {}, Version: {}, UploadHelper: {} };
  window.VoyageX['PEER_CHANNEL_PREFIX'] = '#{PEER_CHANNEL_PREFIX}';
  window.VoyageX.TILE_URL_TEMPLATE = '#{Leaflet.tile_layer}';
  window.VoyageX.USE_GLOBAL_SUBSCRIBE = #{USE_GLOBAL_SUBSCRIBE};
  window.VoyageX.SEARCH_RADIUS_METERS = #{tmp_user.search_radius_meters||100};
  - geometry = Paperclip::Geometry.from_file(tmp_user.foto) if user_signed_in? && tmp_user.foto.present?
  - foto_width = geometry.present? ? geometry.width.to_i : -1
  - foto_height = geometry.present? ? geometry.height.to_i : -1
  window.currentUser = { id: #{tmp_user.id}, username: '#{tmp_user.username}', foto: {url: '#{tmp_user.foto.url}', width: #{foto_width}, height: #{foto_height}}, homebaseLocationId: #{tmp_user.home_base.present? ? tmp_user.home_base.id : -1}, lastLocation: {lat: #{lat||'null'}, lng: #{lng||'null'}}, curCommitHash: '#{tmp_user.snapshot.cur_commit.hash_id}' };
  - if current_user.present?
    window.VoyageX.CHANNEL_ENC_KEY = '#{current_user.comm_port.channel_enc_key}';
    window.VoyageX.SYS_CHANNEL_ENC_KEY = '#{current_user.comm_port.sys_channel_enc_key}';
  - else
    window.VoyageX.CHANNEL_ENC_KEY = null;
    window.VoyageX.SYS_CHANNEL_ENC_KEY = null;
  window.currentAddress = '';
  window.subscribeTo = [];
  window.unsubscribeFrom = [];
  window.initArgs = {peers: []};
  window.defaultLatLng = [#{Location.default.latitude}, #{Location.default.longitude}]
  window.showSearchRadius = false
  -#
    window.pois = [];
    = render partial: '/shared/pois', formats: [:js]
