- lat = tmp_user.snapshot.location.present? ? tmp_user.snapshot.location.latitude : tmp_user.snapshot.lat
- lng = tmp_user.snapshot.location.present? ? tmp_user.snapshot.location.longitude : tmp_user.snapshot.lng
= javascript_tag do
  -#window.scrollTo(0,1);
  window.DEBUG = false;
  window.Comm = { StorageController: {} };
  window.VoyageX = { NavBar: {}, StorageStrategy: {}, MapControl: {}, MarkerManager: {}, MediaManager: {}, View: {}, Version: {}, UploadHelper: {}, Sandbox: {} };
  window.VoyageX['PEER_CHANNEL_PREFIX'] = '#{PEER_CHANNEL_PREFIX}';
  window.VoyageX.TILE_URL_TEMPLATE = '#{Leaflet.tile_layer}';
  window.VoyageX.USE_GLOBAL_SUBSCRIBE = #{USE_GLOBAL_SUBSCRIBE};
  window.VoyageX.SEARCH_RADIUS_METERS = #{tmp_user.search_radius_meters||100};
  window.VoyageX.IMAGES_MARKER_POI_PATH = '#{image_path('marker-icon-red.png')}';
  window.VoyageX.IMAGES_MARKER_PEER_PATH = '#{image_path('marker-icon-yellow.png')}';
  window.VoyageX.IMAGES_PREVIEW_AUDIO_PATH = '#{image_path('audio-file.png')}';
  window.VoyageX.IMAGES_PREVIEW_VIDEO_PATH = '#{image_path('video-file.png')}';
  window.VoyageX.IMAGES_PREVIEW_NA_PATH = '#{image_path('no-preview.png')}';
  window.VoyageX.IMAGES_NOISE_PATH = '#{image_path('noise.gif')}';
  window.VoyageX.IMAGES_SWIPER_LOADING_PATH = '#{image_path('loading_200x100.png')}';
  -#window.VoyageX.IMAGES_CTXNAVALERT_ON_PATH = '#{image_path('arrow-up-right_on.png')}';
  -#window.VoyageX.IMAGES_CTXNAVALERT_OFF_PATH = '#{image_path('arrow-up-right_off.png')}';
  - geometry = Paperclip::Geometry.from_file(tmp_user.foto) if user_signed_in? && tmp_user.foto.present?
  - foto_width = geometry.present? ? geometry.width.to_i : -1
  - foto_height = geometry.present? ? geometry.height.to_i : -1
  window.currentUser = { id: #{tmp_user.id}, username: '#{tmp_user.username}', foto: {url: '#{tmp_user.foto.url}', width: #{foto_width}, height: #{foto_height}}, homebaseLocationId: #{tmp_user.home_base.present? ? tmp_user.home_base.id : -1}, lastLocation: {lat: #{lat||'null'}, lng: #{lng||'null'}}, curCommitHash: '#{tmp_user.snapshot.cur_commit.hash_id}' };
  - if current_user.present?
    window.VoyageX.CHANNEL_ENC_KEY = '#{current_user.comm_port.channel_enc_key}';
    window.VoyageX.SYS_CHANNEL_ENC_KEY = '#{current_user.comm_port.sys_channel_enc_key}';
  - else
    window.VoyageX.CHANNEL_ENC_KEY = null;
    window.VoyageX.SYS_CHANNEL_ENC_KEY = null;
  window.currentAddress = '';
  window.subscribeTo = [];
  window.unsubscribeFrom = [];
  window.initArgs = {peers: []};
  window.defaultLatLng = [#{Location.default.latitude}, #{Location.default.longitude}];
  window.showSearchRadius = false;
  -#
    window.pois = [];
    = render partial: '/shared/pois', formats: [:js]
  - if current_user.present? && current_user.is_admin?
    window.adminSubscribeTo = [];
    - User.where('id != ? and current_sign_in_at is not null', current_user.id).each do |u|
      = render(partial: '/shared/admin_subscriptions', formats: [:js], locals: { sys_channel_enc_key: u.comm_port.sys_channel_enc_key }).html_safe
  function systemInitCB() {
  - if current_user.present? && current_user.is_admin?
    = render(partial: '/shared/admin_subscriptions_handler', formats: [:js]).html_safe
  }
