!!!
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8">
/[if IE 8] <html class="no-js lt-ie9">
/ [if gt IE 8]><!
%html
  / <![endif]
  %head
    %title VoyageX
    = render partial: 'layouts/init_js'
    = stylesheet_link_tag "application", media: "all"
    = stylesheet_link_tag params[:controller], media: "all"
    = csrf_meta_tags
    = javascript_include_tag "modernizr"
    = javascript_include_tag "preload"
    = javascript_include_tag "/comm/faye-browser.js"
    = javascript_include_tag "/assets/comm/channels.js"
  %body
    :javascript
      var mapWidth = $(window).width() - 13;
      var mapHeight = Math.round($(window).height() - 51);
      $("head").append("<style type='text/css'>#map {width:"+mapWidth+"px;height:"+mapHeight+"px;}</style>");
      /*
      var chatHeight = Math.round($(window).height() * 0.15) - 33;
      $("head").append("<style type='text/css'>.talk_message_text {width:100%;height:"+chatHeight+"px !important;}</style>");
      */
      $("head").append("<style type='text/css'>#cur_loc_addr {position: fixed; top: "+41+"px; height: 20px; z-index: 1000 !important;}</style>");
      var panelCtrlTopOff = $(window).height() - 41;
      $("head").append("<style type='text/css'>#panel_control {position: fixed; top: "+panelCtrlTopOff+"px; height: 20px; z-index: 1000 !important;}</style>");
    /%audio{id: "audio_notify"}
    /  %source{src: "/3rd_man_gugu.amr", type: "audio/amr"}

    = render partial: '/menus/top'
    #content{style: 'position: absolute; top: 50px;'}
      / modal-templates 
      = render partial: '/auth/sign_up', locals: {resource: User.new, resource_name: :user}
      = render partial: '/auth/sign_in', locals: {resource: User.new, resource_name: :user}
      = yield
    #cur_loc_addr
      &nbsp;
    #panel_control
      %span{style: 'text-align: left; z-index: 11 !important;'}
      /= link_to image_tag('/assets/arrow-up-right.png', style: 'width: 32px; height: 43px;'), photo_nav_path, data: { remote: "true", format: :js }
      = link_to image_tag('/assets/arrow-up-right.png', style: 'width: 32px; height: 43px;'), '#', onclick: 'javascript:APP.photoNav()'
    = render partial: '/sandbox/photo_nav_panel'
    = javascript_include_tag "application"
    = javascript_include_tag params[:controller]
    
    - if params[:exec].present? && params[:exec].match(/^show_login_dialog/).present?
      - email_arg = params[:exec].match(/^show_login_dialog_confirm_email/).present? ? "'#{tmp_user.unconfirmed_email}'" : 'null'
      :javascript
        showLoginDialog(#{email_arg});
    - if params[:c].present?
      %script
        VoyageX.NavBar.menuNavClick('#{params[:c]}');
        /window.location.href.replace(/\??c=[^&]*/, '')
