!!!
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8">
/[if IE 8] <html class="no-js lt-ie9">
/ [if gt IE 8]><!
%html.ui-mobile
  / <![endif]
  %head
    %title VoyageX
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no'}
    = render partial: 'layouts/init_js'
    = stylesheet_link_tag "application.mobile", media: "all"
    = stylesheet_link_tag "#{params[:controller]}.mobile", media: "all"
    = csrf_meta_tags
    = javascript_include_tag "modernizr"
    = javascript_include_tag "preload.mobile"
    = javascript_include_tag "/comm/faye-browser.js"
    = javascript_include_tag "/assets/comm/channels.js"
  %body{data: {role: 'page'}}    
    = hidden_field_tag :current_user_id, current_user.present? ? current_user.id : tmp_user.id, { id: :current_user_id }
    #header{'data-role' => 'header', 'data-position' => 'fixed'}
      #navbar{'data-role' => 'navbar'}
        %ul
          %li
            %a{id: 'nav_chat_popup_link', style: 'display:none;', href: '#nav_chat_popup', 'data-rel' => 'popup', 'data-position-to' => 'origin'}
            %div{id: 'nav_chat_popup', 'data-role' => 'popup'}
              %a{href: '#', 'data-rel' => 'back', class: 'nav_popup_close ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right'}
                Close
              %span
                Message Received
                %button{class: 'activate_chat', value: 'show'}
            %button{class: 'activate_chat', value: 'chat', 'data-icon' => 'comment', 'data-iconpos' => 'top'}
          %li
            %button{class: 'activate_map', value: 'map', 'data-icon' => 'location', 'data-iconpos' => 'top'}
          %li
            %button{class: 'activate_upload', value: 'upload', 'data-icon' => 'home', 'data-iconpos' => 'top'}
    :javascript
      var mapWidth = $(window).width();
      var mapHeight = $(window).height() - $("#navbar").height() - 40;
      $("head").append("<style type='text/css'>#map {width:"+mapWidth+"px;height:"+mapHeight+"px !important;}</style>");
      $("head").append("<style type='text/css'>.leaflet-bottom {width:"+($(window).width()-35)+"px !important;}</style>");
      $("head").append("<style type='text/css'>#cur_loc_addr {position: fixed; top: "+41+"px; height: 20px; z-index: 1000 !important;}</style>");
      var panelCtrlTopOff = $(window).height() - 41;
      $("head").append("<style type='text/css'>#panel_control {position: fixed; top: "+panelCtrlTopOff+"px; height: 20px; z-index: 1000 !important;}</style>");
    #content{'data-role' => 'content', style: 'padding: 0px !important;'}
      .auth{style: 'display:none;'}
        = render partial: '/auth/sign_in.mobile', locals: {resource: User.new, resource_name: :user}
        = render partial: '/auth/sign_up.mobile', locals: {resource: User.new, resource_name: :user}
      = yield
    #cur_loc_addr
      &nbsp;
    #panel_control
      %span{style: 'text-align: left; z-index: 11 !important;'}
        = link_to image_tag('/assets/arrow-up-right.png', style: 'width: 32px; height: 43px;'), photo_nav_path, data: { remote: "true", format: :js }
        = link_to '', '#photo_nav_panel', id: 'open_photo_nav_btn'
    / panels nust be beginning or end in data-role: page
    = render partial: '/sandbox/photo_nav_panel.mobile'
    = render partial: '/sandbox/media_input_panel'
    = javascript_include_tag 'application.mobile'
    = javascript_include_tag "#{params[:controller]}"
    = javascript_include_tag 'extensions.mobile'
    :javascript
      var chatHeight = $(window).height() - $("#navbar").height() - 10;
      $("head").append("<style type='text/css'>.talk_message_text {width:100%;height:"+chatHeight+"px !important;}</style>");
    - if params[:exec].present? && params[:exec].match(/^show_login_dialog/).present?
      - email_arg = params[:exec].match(/^show_login_dialog_confirm_email/).present? ? "'#{tmp_user.unconfirmed_email}'" : 'null'
      :javascript
        showLoginDialog(#{email_arg});
    - if params[:c].present?
      %script
        VoyageX.NavBar.menuNavClick('#{params[:c]}');
        /window.location.href.replace(/\??c=[^&]*/, '')
